# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [8]:
#drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv', keep_default_na=False)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
drinks.info

<bound method DataFrame.info of                   country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
5                             4.9       NaN
6                             8.3        SA
7                             3.8        EU
8                            10.4        OC
9                             9.7        EU
10                            1.3        EU
11                            6.3       NaN
12                            2.0        AS
13                            0.0        AS
14                            6.3       NaN
15                           14.4        EU
16                           10.5        EU
17                            6.8       NaN
18                            1.1        AF
19                            0.4        AS
20                            3.8        SA
21                            4.6        EU
22                            5.4        AF
23                            7.2        SA
24                            0.6        AS
25                           10.3        EU
26                            4.3        AF
27                            6.3        AF
28                            4.0        AF
29                            4.0        AF
..                            ...       ...
163                           5.6        SA
164                           4.7        AF
165                           7.2        EU
166                          10.2        EU
167                           1.0        AS
168                           0.3        AS
169                           6.4        AS
170                           3.9        EU
171                           0.1        AS
172                           1.3        AF
173                           1.1        OC
174                           6.4       NaN
175                           1.3        AF
176                           1.4        AS
177                           2.2        AS
178                           1.0        OC
179                           8.3        AF
180                           8.9        EU
181                           2.8        AS
182                          10.4        EU
183                           5.7        AF
184                           8.7       NaN
185                           6.6        SA
186                           2.4        AS
187                           0.9        OC
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]>

In [9]:
print(drinks.continent.unique())
drinks.country[drinks.continent == 'SA'].head(20)

['AS' 'EU' 'AF' 'NA' 'SA' 'OC']

6      Argentina
20       Bolivia
23        Brazil
35         Chile
37      Colombia
52       Ecuador
72        Guyana
132     Paraguay
133         Peru
163     Suriname
185      Uruguay
188    Venezuela
Name: country, dtype: object

### Step 4. Which continent drinks more beer on average?

In [10]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
NA    145.434783
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [14]:
print(drinks.groupby('continent').wine_servings.describe())
print(drinks.groupby('continent').beer_servings.describe())
print(drinks.groupby('continent').spirit_servings.describe())
print(drinks.groupby('continent').wine_servings.sum())
print(drinks.groupby('continent').beer_servings.sum())
print(drinks.groupby('continent').spirit_servings.sum())

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NA          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA          23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0
           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0    1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0    1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0   81.00  122.0  173.00  373.0
NA          23.0  165.739130  94.993884  68.0  101.00  137.0  190.50  438.0
OC          16.0   58.437500  70.504817   0.0   18.00   37.0   65.25  254.0
SA          12.0  114.750000  77.077440  25.0   65.75  108.5  148.75  302.0
continent
AF     862
AS     399
EU    6400
NA     564
OC     570
SA     749
Name: wine_servings, dtype: int64
continent
AF    3258
AS    1630
EU    8720
NA    3345
OC    1435
SA    2101
Name: beer_servings, dtype: int64
continent
AF     866
AS    2677
EU    5965
NA    3812
OC     935
SA    1377
Name: spirit_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [10]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [14]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [15]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302